/* .aboutUs {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #ededed;
}
.aboutUs-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutUs-right__imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.aboutUs-right img {
  width: 15rem;
  height: 15rem;
}
.aboutUs-right img:nth-child(2),
.aboutUs-right img:nth-child(3) {
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.aboutUs-right img:nth-child(1),
.aboutUs-right img:nth-child(4) {
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.aboutUs-left__title {
  font-size: 1.5rem;
}
.aboutUs-left__subtitle {
  width: 25rem;
  color: var(--black2);
  margin-top: 0.5rem;
}
.aboutUs-left__sercises {
  margin-top: 2rem;
}
.sercises-item {
  background-color: var(--white1);
  box-shadow: 0 5px 15px var(--black3);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sercises-item i {
  font-size: 1.9rem;
  background-color: var(--black3);
  border-radius: 0.5rem;
  min-width: 5rem;
  height: 5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servises-item_subtitle {
  font-size: 0.8rem;
  color: var(--black2);
}

@media (max-width: 1200px) {
  .aboutUs-right img {
    width: 12rem;
    height: 12rem;
  }
  .aboutUs {
    flex-direction: column;
  }
  .aboutUs-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .aboutUs-left__subtitle {
    text-align: center;
  }
  .aboutUs-right,
  .aboutUs-left {
    width: 100%;
  }

  .aboutUs-left__sercises {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .aboutUs-left__subtitle {
    font-size: 0.9rem;
    padding: 0 3rem;
  }
  .aboutUs-right img {
    width: 8rem;
    height: 8rem;
  }
  .aboutUs-right img:nth-child(2),
  .aboutUs-right img:nth-child(3) {
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .aboutUs-right img:nth-child(1),
  .aboutUs-right img:nth-child(4) {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
} */

.aboutUs {
  margin-top: 5rem;
}
.aboutUs ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.aboutUs ul li {
  position: relative;
  background-color: red;
  height: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUs ul li img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.aboutUs-info {
  background-color: var(--white2);
  backdrop-filter: blur(3px);
  position: absolute;
  text-align: center;
  margin: 1rem;
  width: 90%;
  height: 90%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutUs-info i {
  font-size: 1.7rem;
  background-color: var(--white2);
  padding: 1.2rem;
  border-radius: 0.5rem;
}
.aboutUs-info .aboutUs-title {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.aboutUs-info .aboutUs-subtitle {
  font-size: 0.9rem;
  color: var(--black2);
  padding: 0.3rem 1rem;
}
